$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1280px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/font-face';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

@import 'vendors/fancybox';
@import 'vendors/slick';
@import 'vendors/pace-plugin';

#wrapper {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  min-height:750px;
  min-width:1280px;
  overflow:hidden;
}

#header {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width: 286px;
  padding:0 0 0 2px;
  border-right:3px solid #2d2b30;
  background: #232225;
}

.triangle {
  position:absolute;
  right:-3px;
  top:77px;
  width:14px;
  height:26px;
  @include triangle(32px 16px, #2d2b30,left);
  &:before {
      content: '';
      position: absolute;
      left:  3px;
      top:-11px;
      @include triangle(22px 13px, #151416, left);
  }
  @media only screen and (min-height:950px) {
    top:110px;
  }
}

.lang-box {
  @extend %clearfix;
  margin:13px 0 10px;
  padding:0 23px;
  font-size:14px;
  line-height:17px;
  text-transform:uppercase;
  &.open {
    > a {
      color:$breeze;
      &:after {
        border-color:$breeze;
      }
    }
  }
  @media only screen and (min-height:700px) {
    margin-bottom:15px;
  }
  @media only screen and (min-height:950px) {
    margin-bottom:44px;
  }
  
  a {
    color: #747474;
    &:hover {
      color:$breeze;
    }
  }
  
  > a {
    position:relative;
    padding-right:10px;
    &:hover {
      &:after {
        border-color:$breeze;
      }
    }
    &:after {
      content:'';
      position:absolute;
      right:0;
      top:50%;
      width:6px;
      height:6px;
      margin-top:-5px;
      border-style:solid;
      border-width:0 0 1px 1px;
      border-color:#747474;
      transform: rotate(315deg);
      transition:all $animation-speed ease;
    }
  }
}

.lang-list {
  @extend %listreset;
}

.logo {
  display:block;
  width:218px;
  height:90px;
  margin:0 auto 15px;
  @media only screen and (min-height:700px) {
    margin-bottom:40px;
  }
  @media only screen and (min-height:950px) {
    margin-bottom:76px;
  }
  
  a {
    display:block;
    height:100%;
  }
  
  img {
    display:block;
    width:100%;
  }
}

.open-close {
  position:relative;
}

.drop {
  position: absolute;
  top: calc(100% + 8px);
  left:23px;
  min-width: 40px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
  transform: scale(0);
  transform-origin: top center;
  will-change: transform;
  z-index: 100;
}
.open .drop {
  -webkit-animation: pulse 200ms cubic-bezier(0,0,.2,1)forwards;
  animation: pulse 200ms cubic-bezier(0,0,.2,1)forwards;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  50% {
    -webkit-transform: scale(.99);
    transform: scale(.99)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  50% {
    -webkit-transform: scale(.99);
    transform: scale(.99)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

#nav {
  margin:0 0 15px;
  padding:0;
  list-style:none;
  position:relative;
  text-transform:uppercase;
  &:before {
    content:'';
    position:absolute;
    left:107px;
    bottom:-3px;
    width:7px;
    height:7px;
    border-radius:100%;
    border:1px solid #484848;
    background:#232225;
    z-index:3;
    @media only screen and (min-height:950px) {
      bottom:4px;
    }
  }
  &:after {
    content:'';
    position:absolute;
    left:110px;
    top:0;
    bottom:4px;
    width:1px;
    border-style:dashed;
    border-width:0 0 0 1px;
    border-color:#484848;
  }
  @media only screen and (min-height:700px) {
    margin-bottom:25px;
  }
  @media only screen and (min-height:950px) {
    margin-bottom:54px;
  }
  
  li {
    margin:0;
    &.active {
      
      a {
        color:$breeze;
      }
      
      .icon {
        background-position:0 -101px;
        width: 31px;
        height: 27px;
        &.icon-2 {
          background-position: -231px -101px;
          width: 20px;
          height: 27px;
        }
        &.icon-3 {
          background-position: -45px -101px;
          width: 20px;
          height: 27px;
        }
        &.icon-4 {
          background-position: -77px -101px;
          width: 28px;
          height: 28px;
        }
        &.icon-5 {
          background-position: -117px -101px;
          width: 28px;
          height: 26px;
        }
        &.icon-6 {
          background-position: -157px -102px;
          width: 40px;
          height: 27px;
        }
        &.icon-7 {
          background-position:-282px -99px;
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  
  a {
    display:block;
    position:relative;
    color: #d1d1d1;
    min-height:56px;
    letter-spacing:-4px;
    text-align:left !important;
    &:before {
      content:'';
      position:absolute;
    }
    &:before {
      top:-4px;
      left:107px;
      width:7px;
      height:7px;
      border:1px solid #484848;
      background:#232225;
      border-radius:100%;
      z-index:2;
    }
    &:hover {
      color:$breeze;
      
      .icon {
        background-position:0 -101px;
        width: 31px;
        height: 27px;
        &.icon-2 {
          background-position: -231px -101px;
          width: 20px;
          height: 27px;
        }
        &.icon-3 {
          background-position: -45px -101px;
          width: 20px;
          height: 27px;
        }
        &.icon-4 {
          background-position: -77px -101px;
          width: 28px;
          height: 28px;
        }
        &.icon-5 {
          background-position: -117px -101px;
          width: 28px;
          height: 26px;
        }
        &.icon-6 {
          background-position: -157px -102px;
          width: 40px;
          height: 27px;
        }
        &.icon-7 {
          background-position:-282px -99px;
          width: 28px;
          height: 28px;
        }
      }
    }
    
    div {
      @include v-align(53px, middle, after);
      @media only screen and (min-height:840px) {
        &:after {
          min-height:66px;
        }
      }
      @media only screen and (min-height:950px) {
        &:after {
          min-height:68px;
        }
      }
      
      > * {
        display:inline-block;
        vertical-align:middle;
        letter-spacing:-0.5px;
      }
      
      > span {
        &:nth-child(2) {
          text-align:left;
          position:relative;
          width:calc(100% - 114px);
          padding:0 0 0 11px;
        }
      }
    }
  }
  
  .icon-box {
    width:114px;
    text-align:center;
  }
}

.icon {
  display:inline-block;
  vertical-align:middle;
  background:url(../images/sprite.png) no-repeat 0 0;
  width: 33px;
  height: 29px;
  &.icon-2 {
    background-position: -231px -1px;
    width: 20px;
    height: 27px;
  }
  &.icon-3 {
    background-position: -45px 0;
    width: 20px;
    height: 27px;
  }
  &.icon-4 {
    background-position: -77px 0;
    width: 28px;
    height: 28px;
  }
  &.icon-5 {
    background-position: -117px 0;
    width: 28px;
    height: 26px;
  }
  &.icon-6 {
    background-position: -157px 0;
    width: 40px;
    height: 27px;
  }
  &.icon-7 {
    background-position: -282px -1px;
    width: 28px;
    height: 28px;
  }
}

.info-box {
  @extend %clearfix;
  font-size:16px;
  line-height:19px;
  color: #595959;
  letter-spacing:-1px;
  
  a {
    color: #595959;
    &:hover {
      color:$breeze;
    }
  }
  
  .tel {
    display:inline-block;
    vertical-align:top;
    margin:0 0 7px;
    font-size:26px;
    line-height:20px;
    color: #8a8a8a;
    &:hover {
      color:$breeze;
      
      span {
        color:$breeze;
      }
    }
    
    span {
      color: #616060;
      transition:all $animation-speed ease;
    }
  }
}

#main {
  position:absolute;
  left:308px;
  right:0;
  top:0;
  bottom:0;
  background:#1d1c1e;
}

.item-block {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden;
  &.active {
    
    .item-frame {
      left:-50%;
    }
    
    .item-holder {
      left:0;
    }
    
    .btn-arrow {
      left:0;
      transform:rotate(-180deg);
    }
  }
  &.layout-3,
  &.layout-4 {
    
    .btn-arrow {
      display:none !important;
    }
  }
  
  .btn-arrow {
    position:absolute;
    left:50%;
    margin-left:21px;
    top:50%;
    transition:background 0.5s ease, left 0.5s ease;
    
    span {
      margin:-9px 0 0 -7px;
    }
  }
}

.btn-arrow,
.slick-prev,
.slick-next {
  margin-top:-33px;
  font-size:0;
  line-height:0;
  width: 65px;
  height: 65px;
  text-align:center;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid $breeze !important;
  transition:background 0.5s ease;
  border-radius:100%;
  z-index:102;
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  span {
    display:inline-block;
    vertical-align:top;
    position:absolute;
    left:50%;
    top:50%;
    width:17px;
    height:17px;
    border-style:solid;
    border-width:0 0 2px 2px;
    border-color:$breeze;
    transform: rotate(45deg);
    margin:-10px 0 0 -5px;
    z-index: 2;
  }
}

.item-frame {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:50%;
  transition:left 0.5s ease;
  transform: translateZ(0);
}

.item-holder {
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:100%;
  transition:left 0.5s ease;
  transform: translateZ(0);
  &.three-items ,
  &.four-items {
    width:50%;
    
    .item {
      width:50%;
    }
    
    .item.lg {
      width:100%;
    }
  }
}

.item {
  position:relative;
  float:left;
  top:0;
  width:25%;
  height:50%;
  background:#fff;
  overflow: hidden;
  &:hover {
    .overlay {
      opacity:0;
    }
    
    .bg-stretch {
      filter:none !important;
      -webkit-filter: grayscale(0);
    }
    
    .text-holder {
      color:$breeze;
      
      .title {
        
        span {
          &:before,
          &:after {
            background:$breeze;
          }
        }
      }
    }
    
    .divider {
      color:$breeze;
    }

    .video {
      opacity: 1;
    }
  }
  
  .overlay {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: #262626;
    opacity:0.35;
    transition:opacity 0.5s ease;
    z-index:101;
  }
  
  .bg-stretch {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    z-index:1;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition:all 0.5s ease;
  }
  
  .text-holder {
    position:absolute;
    left:20%;
    right:20%;
    top:50%;
    margin-bottom:-10px;
    color:#fff;
    font:400 10px/12px $alt-font;
    text-transform:uppercase;
    transform:translateY(-50.1%);
    letter-spacing:-0.5px;
    z-index:104;
    &:after {
      content:'';
      position:absolute;
      left:20%;
      right:20%;
      overflow:hidden;
    }
    
    .title {
      font-size:18px;
      line-height:22px;
      font-weight:700;
      letter-spacing:-1px;
      margin:0 0 3px;
      
      span {
        display:inline-block;
        position:relative;
        &:before,
        &:after {
          content:'';
          position:absolute;
          top:50%;
          width:6px;
          height:6px;
          background:#fff;
          border-radius:3px;
          margin-top:-3px;
        }
        &:before {
          left:-17px;
        }
        &:after {
          right:-17px;
        }
      }
    }
  }
  
  .btn-more {
    position:absolute;
    left:50%;
    bottom:-50px;
    transform:translateX(-50%);
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    overflow: hidden;
    z-index: 108;
    opacity: 0;
    transition: opacity 0.5s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  video {
    left: 50%;
    position: relative;
    width: auto !important;
    height: 100% !important;
    transform: translateX(-50%);
  }
}

.item.item-alt.lg {
  width:100%;
  height:100%;

  > .bg-stretch {
    z-index:1;
  }
  
  .slick-gallery.alt {
    z-index:2;
  }
}

.item.lg {
  width:50%;
  height:50%;
}

.item.lg.right {
  float:right;
}

.item.item-3 {
  
  .bg-stretch {
    background-position:100% 50%;
  }
}

.divider {
  position:relative;
  color:#fff;
  max-width:131px;
  margin:0 auto 14px;
  text-align:center;
  &:before,
  &:after {
    content:'';
    position:absolute;
    top:50%;
    height:1px;
    border-style:dashed;
    border-width:1px 0 0 0;
    border-color:#fff;
    overflow:hidden;
  }
  &:before {
    left:0;
    right:55%;
  }
  &:after {
    left:55%;
    right:0;
  }
  
  span {
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    background:url(../images/sprite.png) no-repeat 0 -45px;
    width: 6px;
    height: 6px;
    margin-left:-1px;
    overflow:hidden;
  }
}

.slick-gallery {
  position:relative;
  width:100%;
  height:100%;
  &.alt {
    
    .slick-dots {
      bottom:30px;
    }
  }
  
  .slick-list {
    position:relative;
    height:100%;
  }
  
  .slick-track {
    height:100%;
  }
  
  .slide {
    position:relative;
    height:100% !important;
  }
  
  .text {
    position:absolute;
    left:0;
    right:0;
    bottom:68px;
    padding:0 15%;
    text-align:center;
    z-index:2;
    
    img {
      display:inline-block;
      vertical-align:top;
      margin:0 0 23px;
    }
    
  }
  
  .text.text-box {
    bottom:46px;
    padding:0 21% 0 24%;
    font:400 18px/22px $alt-font;
    color: #313034;
    letter-spacing:-0.8px;
    text-align:left;
    
    .logotype {
      position:absolute;
      left: 12%;
      top: -25px;
      margin-left:-48px;
    }
    
    h1 {
      font-size:24px;
      line-height:29px;
      font-weight:400;
      text-transform:uppercase;
      color: #313034;
      margin:0 0 34px -2px;
    }
    
    .text-frame {
      text-align: justify;
      margin:0 0 35px;
      overflow:hidden;
    }
    
    p {
      margin:0 0 22px;
    }
  }
  
  .num-page {
    position:absolute;
    left: 15.5%;
    bottom: 20px;
    font-size:18px;
    line-height:22px;
    color: #616161;
    
    span {
      color: #2ca696;
    }
  }
  
  .bg-stretch {
    background-position:50% 0;
  }
  
  .divider {
    &:before,
    &:after {
      border-color:#757575;
    }
    
    span {
      background-position: -18px -45px;
    }
  }
}

.btn {
  display:inline-block;
  vertical-align:top;
  padding:10px 15px;
  text-align:center;
  min-width: 147px;
  font-size:14px;
  line-height:17px;
  font-weight:400;
  color:$breeze;
  background: rgba(#232225,0.5);
  border: 2px solid rgba(#8f8f8f,0.5);
  &:hover {
    border-color:$breeze;
    background:$breeze;
    color:#fff;
  }
}

.slick-gallery-2 {
  position:relative;
  width:100%;
  height:100%;
  
  .slick-list {
    position:relative;
    height:100%;
  }
  
  .slick-track {
    height:100%;
  }
  
  .slide {
    position:relative;
    height:100% !important;
  }
}

.content-area {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden;
}

.section {
  float:left;
  position:relative;
  height:100%;
  width:70.3%;
  color: #b6b6b6;
  background:#1d1c1e;
  overflow:hidden;
  
  .holder {
    padding:55px 20px 35px;
    border-right:20px solid #151416;
    @include media("≥1400px"){
      padding:55px 59px 35px;
    }
    
    > p {
      text-align:justify;
      &:last-child {
        margin:0;
      }
    }
  }
  
  h1 {
    font-size:48px;
    line-height:51px;
    letter-spacing:-1.5px;
    color:#fff;
    text-transform:uppercase;
    margin:0 0 60px;
  }
  
  h2 {
    color:$breeze;
    letter-spacing:-1px;
    text-transform:uppercase;
    margin:0 0 52px;
  }
  
  .text-holder {
    padding-bottom:38px;
    overflow:hidden;
  }
  
  p {
    margin:0 0 12px;
  }
  
  ul {
    margin:0 0 12px;
    padding:0 0 0 37px;
  }
  
  table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    color:#b2b2b2;
    
    tr {
      &:first-child {
        background:#181719;
      }
    }
  }
  
  th,
  td {
    border:1px solid #2e2d30;
    vertical-align:middle;
    &:first-child {
      width:21%;
    }
    &:nth-child(2) {
      width:79%;
    }
  }
  
  th {
    padding:13px 24px;
    font-size:13px;
    line-height:16px;
    text-align:left;
    color:#4f4f4f;
  }
  
  td {
    padding:14px 24px 13px;
  }
}

.directions-block {
  position:relative;
  padding:50px 0 0;
  margin:0 14px 42px;
  border-style:dashed;
  border-width:1px 0;
  border-color:#484848;
  &:before,
  &:after {
    content:'';
    position:absolute;
    top:-4px;
    width:7px;
    height:7px;
    border-radius:100%;
    border:1px solid #484848;
  }
  &:before {
    left:-14px;
  }
  &:after {
    right:-14px;
  }
}

.directions-holder {
  position:relative;
  padding:0 0 8px;
  &:before,
  &:after {
    content:'';
    position:absolute;
    bottom:-4px;
    width:7px;
    height:7px;
    border-radius:100%;
    border:1px solid #484848;
  }
  &:before {
    left:-14px;
  }
  &:after {
    right:-14px;
  }
}

.directions-list {
  display:flex;
  justify-content:space-between;
  margin:0;
  padding:0;
  font-size:12px;
  line-height:15px;
  letter-spacing:-0.5px;
  list-style:none;
  @include media("≥1300px"){
    padding:0 23px;
  }
  
  li {
    position:relative;
    width:190px;
    &:before,
    &:after {
      content:'';
      position:absolute;
      z-index:10;
    }
    &:before {
      top:-38px;
      left:50%;
      width:1px;
      height:15px;
      background:#fff;
      opacity:0.16;
    }
    &:after {
      top:-23px;
      left:50%;
      @include triangle(6px 6px, #fff, down);
      opacity:0.16;
      margin-left:-3px;
    }
    &.first {
      margin:-68px 0 0;
      &:before {
        top:14px;
        left:261px;
        transform:rotate(64deg);
      }
      &:after {
        top: 23px;
        left: 252px;
        transform:rotate(64deg);
      }
    }
    &.third {
      margin:-102px 0 0;
      &:before {
        top: 49px;
        left: -77px;
        transform:rotate(114deg);
      }
      &:after {
        top: 58px;
        left: -69px;
        transform:rotate(52deg);
      }
    }
    &.fourth {
      margin:50px 0 0;
      &:before {
        top:auto;
        bottom:25px;
        left: 262px;
        transform:rotate(114deg);
      }
      &:after {
        top:auto;
        bottom:34px;
        left: 253px;
        transform:rotate(117deg);
      }
    }
    &.fifth {
      &:before {
        top:auto;
        bottom:25px;
        left: 50%;
      }
      &:after {
        top:auto;
        bottom:40px;
        left: 50%;
        transform:rotate(180deg);
        margin-left:-2px;
      }
    }
    &.sixth {
      margin:50px 0 0;
      &:before {
        top:auto;
        bottom:25px;
        left: -77px;
        transform:rotate(63deg);
      }
      &:after {
        top:auto;
        bottom: 33px;
        left: -68px;
        transform:rotate(2deg);
      }
    }
  }
  
  .img-box {
    display:block;
    position:relative;
    margin:0 auto 29px;
    border-radius:100%;
    
    img {
      display:block;
      max-width:100%;
      &.img {
        margin-top:-20px;
      }
    }
  }
  
  h3 {
    font-size:14px;
    line-height:17px;
    color:$breeze;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-0.5px;
    margin:0 0 14px;
  }
  
  .step {
    position:absolute;
    left:-17px;
    bottom:4px;
    font: 700 47px/50px $base-font-sans-serif;
    color: #262626;
    z-index:1;
  }
}

.directions-list.alt {
  margin:0 0 -13px;
  
  .step {
    bottom:auto;
    top:0;
  }
  
  p {
    margin:0 0 20px;
  }
}

.breadcrumb {
  margin:0 0 12px;
  padding:0;
  list-style:none;
  width:100%;
  font:14px/17px $alt-font;
  text-transform:uppercase;
  color:#6e6d6e;
  letter-spacing:-4px;
  
  li {
    display:inline-block;
    vertical-align:top;
    padding:0 12px 0 0;
    position:relative;
    letter-spacing:-0.5px;
    & + li {
      padding:0 15px;
      &:before {
        content:'»';
        position:absolute;
        left:0;
        top:-2px;
        color:#979797;
      }
    }
  }
  
  a {
    color:#979797;
    &:hover {
      color:$breeze;
    }
  }
}

.scrollbar {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 20px;
  transition: opacity 500ms ease;
  z-index:10;
}

.handle {
  visibility:hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $breeze;
  transition: opacity $animation-speed ease;
  &:before,
  &:after {
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  &:before {
    top:9px;
    @include triangle(7px 5px, #fff, up);
  }
  &:after {
    bottom:9px;
    @include triangle(7px 5px, #fff, down);
  }
  &:hover {
    opacity:.9;
  }
}

.init .handle {
  visibility:visible !important;
}

.mousearea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.gallery-holder {
  float:left;
  position:relative;
  height:100%;
  width:29.7%;
}

.vertical-slick-gallery {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  
  .slick-list {
    height:100% !important;
  }
  
  .slide {
    position:relative;
    height:33.33% !important;
    &:hover {
      
      .bg-stretch {
        filter:none;
        -webkit-filter: grayscale(0);
        z-index:3;
        &:after {
          opacity:0;
          z-index:-1;
        }
      }
      
      .text {
        opacity:0;
      }
    }
  }
  
  .slick-track {
    height:100% !important;
  }
  
  .bg-stretch {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition:filter 0.5s ease;
    cursor:pointer;
    z-index:1;
    &:after {
      content:'';
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background: rgba(#232225,0.5);
      transition:opacity 0.5s ease;
      z-index:2;
    }
    
    img {
      display:none !important;
    }
  }
  
  .text {
    position:absolute;
    left:20%;
    right:20%;
    bottom:35px;
    text-align:center;
    color:#fff;
    transition:opacity 0.5s ease;
    z-index:2;
    &:before {
      content:'';
      position:absolute;
      left:50%;
      top:-12px;
      width: 29px;
      height: 2px;
      background: $breeze;
      transform: translateX(-50%);
    }
    &:after {
      content:'';
      position:absolute;
      left:50%;
      top:-65px;
      background:url(../images/sprite.png) no-repeat -78px -45px;
      width: 46px;
      height: 46px;
      transform:translateX(-50%);
      z-index:3;
      @include media("≥1840px"){
        top:-100px;
      }
    }
    
    p {
      margin:0;
    }
  }
}

.popup-gallery {
  max-width:860px;
}

.present-box {
  max-width:1000px;
  margin:0 auto;
}

.present-title {
  margin:30px 0;
}

.present-list {
  
  a {
    color:#999;
    &:hover {
      color:#000;
    }
  }
}