#header {
	height: 200px;
	position: relative;
	padding: 40px 0;
	z-index:101;
	
	.holder {
		@include clearfix;
		padding-bottom: 40px;
	}
	
	.holder-2 {
		padding:0;
	}
	
	.phone {
		position: absolute;
		left: 50%;
		bottom: 40px;
		width: 240px;
		height: 60px;
		font-size: 18px;
		line-height: 57px;
		margin: 0 0 0 -120px;
		border-radius:30px;
		display: none;
		background: none !important;
		color: $dark !important;
	}
}

.open-menu {
	#header {
		@include position(0, 0);
	}
	.mobile-logo a {
		background-color: $green;
		@include rotate(45deg);
		&:after, &:before {opacity: 1;}
	}
}

.logo {
	float: left;
	@include indent;
	width: 99px;
	height: 60px;
	margin: -10px 20px -10px -20px;
	
	a {
		display: block;
		height: 100%;
	}
	
	img{
		display:block;
		width: 99px;
		height: 60px;
		&.logo-fixed {
			display:none;
		}
	}
	
	em {
		font:italic 400 12px/15px $open;
		color: #999;
	}
}

.mobile-logo {
	display: none;
	position: fixed;
	top: 40px;
	left: 50%;
	width: 60px;
	height: 60px;
	z-index: 100;
	margin-left: -30px;
	@include indent;
	@include cover(99px 60px, 0 50%);
	a {
		display: block;
		height: 100%;
		@include border-radius;
		&:after, &:before {
			content: '';
			top: 50%;
			left: 50%;
			@include position;
			position: absolute;
			background-color: $white;
			opacity: 0;
		}
		&:before {
			width: 2px;
			height: 14px;
		}
		&:after {
			height: 2px;
			width: 14px;
		}
	}
}

.fixed {
	
	.logo {
		background: none;
		
		a {
			position: fixed;
			left: calc(50% - 999px);
			top: 20px;
			z-index: 999;
			width: 60px;
			height: 60px;
			background:url(../images/logo.svg) no-repeat 0 0 / 99px 60px;
			@media only screen and (max-width:2089px) {
				left: calc(50% - 799px);
			}
			@media only screen and (max-width:1679px) {
				left: calc(50% - 600px);
			}
		}
		
		img {
			display:none;
		}
	}
	
	.present {
		position: fixed;
		top: 30px;
		right: calc(50% - 980px);
		z-index: 100;
		@media only screen and (max-width:2089px) {
			right: calc(50% - 780px);
		}
		@media only screen and (max-width:1679px) {
			right: calc(50% - 580px);
		}
	}
}

.basket-holder {
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.basket {
	float: right;
	width: 40px;
	height: 40px;
	color: $white;
	text-align: center;
	position: relative;
	font-size: 0;
	background-color: $disable;
	@include border-radius;
	
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width:25px;
		height:25px;
		font-size: 24px;
		@include position;
		fill:#fff;
	}
	&:hover {
		color: $white;
		background-color: $green;
	}
	&.present {
		width: 60px;
		margin-right: -20px;
		text-align: right;
		line-height: 41px;
		font-size: 11px;
		font-weight: bold;
		padding-right: 12px;
		background-color: #f66;
		@include border-radius(20px);
		svg {
			margin-left: -10px;
		}
		&:hover {background-color: $green;}
	}
}

.country,
.open-close {
	position:relative;
	
	.arrow {
		@include triangle(12px 9px, #b4cf00 , down);
		position:absolute;
		right:-2px;
		top:8px;
	}
}

.open-close.tel-box {
	border-left: 1px solid #ccc;
	margin:2px 0 0 37px;
	
	a {
		font-weight:700;
	}
	
	.drop {
		width:260px;
		top:58px;
		right:-23px;
		padding:36px 40px;
	}
	
	ul {
		margin: 0 0 -21px;
		text-align:left;
		
		li {
			margin:0 0 21px;
		}
	}
}

.open-close.top-open-close {
	float:right;
	position:relative;
	width:187px;
	font-size: 18px;
	line-height: 18px;
	text-align: right;
	font-weight: bold;
	
	a {
		display:inline-block;
		color: $dark;
		&:hover {
			color: $green;
		}
	}
	
	.arrow {
		right: -20px;
		top: 11px;
	}
	
	em {
		color: $gray;
		display: block;
		font: italic 12px/18px 'Open Sans', sans-serif;
	}
}

.open-close.call {
	margin-top:2px;
	
	.drop {
		top:58px;
		width:280px;
		right:-27px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.2);
	}
}

.open-close.cabinet {
	margin:0 0 0 53px;
	width:auto;
	
	&.open {
		> .button {
			color: #fff;
			background:$green;
		}
	}
	
	a {
		&:hover {
			color: #fff;
		}
	}
	
	.drop {
		width:280px;
		right:-50px;
		padding:34px 20px 15px;
		text-align:center;
		
		.button {
			display:block;
			width:160px;
			height:50px;
			line-height:45px;
			border-radius:25px;
			margin:0 auto 22px;
		}
	}
	
	.info-cart {
		font-size:14px;
		line-height:24px;
		font-weight:400;
		
		strong {
			font-size:18px;
		}
		
		.num {
			color:#b4cf00;
		}
		
		.cost {
			color:#f66;
		}
	}
	
	.cabinet-list {
		margin:0 0 -2px;
		padding:15px 0;
		list-style:none;
		font-size:11px;
		line-height:14px;
		font-weight:800;
		text-transform:uppercase;
		letter-spacing:1px;
		
		li {
			margin:0 0 26px;
		}
		
		a {
			&:hover {
				color:$green;
			}
		}
	}
	
	.exit-box {
		margin: 0 -25px;
		padding:36px 25px 0;
		border-top:1px solid #efefef;
		overflow:hidden;
		
		.cabinet-list {
			padding:0;
		}
	}
}

.open-close.login {
	
	.drop {
		width:761px;
		padding:0;
	}
	
	.col-holder {
		@extend %clearfix;
		border-bottom:1px solid #efefef;
	}
	
	.col {
		float:left;
		width:50%;
		padding:34px 40px;
		&:nth-child(even) {
			border-left:1px solid #efefef;
		}
	}
	
	.login-box {
		text-align:right;
		padding:38px 39px 41px;
		
		> * {
			display:inline-block !important;
			vertical-align:middle;
		}
		
		.button {
			margin:0 0 0 13px;
			width:142px;
			line-height:47px;
			letter-spacing:1px;
		}
		
		span {
			color:#999;
			font-size:14px;
			line-height:20px;
			margin-right:22px;
			font-weight:400;
		}
	}
}

.form {
	
	.title {
		display:block;
		color: #ccc;
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
		text-align:left;
		margin:0 0 25px;
	}
	
	.btn-box {
		@extend %clearfix;
		padding:10px 0 7px;
		
		a {
			float:left;
			font-size:11px;
			line-height:14px;
			font-weight:800;
			text-transform:uppercase;
			letter-spacing:1px;
			margin:18px 0 0;
			&:hover {
				color:$green;
			}
		}
	}
	
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		font-size:16px;
		color:#333;
		padding:0 13px;
		&::-webkit-input-placeholder {
			color: #999;
			opacity:1;
		}
		&:-moz-placeholder {
			color: #999;
			opacity:1;
		}
		&::-moz-placeholder {
			color: #999;
			opacity:1;
		}
		&:-ms-input-placeholder {
			color: #999;
			opacity:1;
		}
	}
	
	input[type="submit"] {
		float:right;
		min-width:100px;
		width:auto !important;
		letter-spacing:1px;
		margin-bottom:0 !important;
	}
}

.form.form-2 {
	input[type="submit"] {
		min-width:204px;
	}
}

.popup-basket {
	width:760px;
	padding:36px 38px 40px;
	background: #fff;
	
	.form-title {
		color: #ccc;
		font-size: 22px;
		line-height:25px;
		font-weight: 300;
		margin:0 0 33px;
		padding-right:25px;
	}
	
	.product-box {
		@extend %clearfix;
		position:relative;
		margin:0 0 31px;
	}
	
	.title {
		font-weight:700;
	}
	
	.visual {
		float:left;
		width:161px;
		margin:4px 18px 0 0;
	}
	
	.product-info {
		overflow:hidden;
		width:auto;
		padding:0 0 94px;
	}
	
	.price-box {
		position:absolute;
		right:0;
		bottom:10px;
		
		> * {
			display:inline-block !important;
			vertical-align:middle;
		}
	}
	
	.btn-del {
		position:relative;
		width:17px;
		height:17px;
		margin-top:-2px;
		&:before,
		&:after {
			content:'';
			position:absolute;
			top:45%;
			left:0;
			right:0;
			height:2px;
			background:#333;
			transition:all 0.2s linear;
			transform:rotate(45deg);
			top:50%;
			z-index:10;
		}
		&:after{
			transform:rotate(-45deg);
		}
		&:hover {
			&:before,
			&:after {
				background:$green;
			}
		}
	}
	
	.number-box {
		position:absolute;
		left:1px;
		bottom:0;
		
		.text {
			position:absolute;
			right:37px;
			top:12px;
			font-size:14px;
			line-height:17px;
			font-weight:700;
		}
	}
	
	.btn-box {
		@extend %clearfix;
		padding:24px 0 0;
		
		.btn-close {
			float:left;
			position:relative;
			margin:22px 0 0;
			font-size:16px;
			line-height:19px;
			font-weight:400;
			color:#333;
			&:before,
			&:after {
				bottom:-5px;
			}
		}
	}
	
	.price {
		margin:0 !important;
	}
	
	button[type="submit"] {
		float:right;
		width:374px;
		height:60px;
		font-size:16px;
		//line-height:55px;
		border-radius:30px;
		
		.del {
			color:#e06666;
			text-decoration:line-through;
		}
	}
}

.country {
	float: left;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	padding: 0 0 14px 15px;
	position: relative;
	@include border(0 0 0 1px, $disable);
	
	& > a {
		color: $dark;
		@include inline;
		padding-right: 16px;
		position: relative;
		&:hover {
			color: $green;
		}
	}
	
	.icon {
		display:inline-block;
		vertical-align:middle;
		width:23px;
		height:27px;
		fill:#ccc;
		margin:-2px -3px 0 0;
	}
}

.popup-location {
	width:760px;
	padding:36px 38px 35px;
	background: #fff;
	
	.popup-title {
		color: #ccc;
		font-size: 22px;
		line-height:25px;
		font-weight: 300;
		padding-right:25px;
		margin:0 0 38px;
	}
}

.city-form {
	
	.input-holder {
		background:#f3f3f3;
		
		button {
			position:absolute;
			right:0;
			top:0;
			height:100%;
			float:right;
			border:none;
			width:49px;
			background:none;
			cursor:pointer;
			z-index:100;
			&:hover {
				
				.icon {
					fill:#333;
				}
			}
		}
		
		.icon {
			width: 27px;
			height: 27px;
			fill: #ccc;
			margin: 6px 12px 0 0;
		}
		
		input[type="text"] {
			padding:0 40px 0 20px;
			font-size:16px;
			line-height:19px;
		}
	}
	
	.col-holder {
		@extend %clearfix;
		
		.col {
			float:left;
			position:relative;
			width:61.4%;
			padding:0 0 0 36px;
			height:430px;
			&:first-child {
				width:38.6%;
				border-right:1px solid #efefef;
				padding:0 15px 0 0;
				
				.scrollbar {
					right:12px;
				}
			}
		}
		
		.scrollbar {
			top:11px;
			right:1px;
			width:8px;
			border-radius:4px;
		}
	}

	.holder {
		height: 100%;
		overflow: hidden;
	}
}

.tabset-city {
	margin:0;
	padding:7px 0;
	list-style:none;
	font-size:16px;
	line-height:19px;
	overflow:hidden;
	
	li {
		margin:0 0 21px;
		&:last-child {
			margin:0;
		}
	}
	
	a {
		display:inline-block;
		color:#333;
		&.active,
		&:hover {
			font-weight:700;
			margin:-2px 0 -2px;
		}
	}
}

.city-sort-list {
	margin:0;
	padding:9px 0;
	list-style:none;
	font-size:14px;
	line-height:17px;
	column-count: 2;
	column-gap: 0px;
	overflow:hidden;
	
	li {
		margin:0 0 23px;
		&:last-child {
			margin:0;
		}
	}
	
	a {
		position:relative;
		display:inline-block;
		color:#333;
		&:after {
			content:'';
			position:absolute;
			top:50%;
			right:-32px;
			width:16px;
			height:9px;
			border:2px solid $green;
			border-width:0 0 2px 2px;
			transform: rotate(-45deg);
			margin:-8px 0 0 0;
			border-radius:2px;
			opacity:0;
		}
		&.active,
		&:hover {
			font-weight:700;
			margin:-1px 0;
		}
		&:active,
		&.active {
			&:after {
				opacity:1;
			}
		}
	}
}

.autocomplete-box {
	
	.scroll {
		position:absolute;
		left:0;
		right:0;
		top:calc(100% + 10px);
		max-height:225px;
		background:#fff;
		border-radius: 3px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		z-index:1000;
	}
	
	.scrollbar {
		top:5px;
		bottom:5px;
		width:8px;
		right:10px;
		z-index:1000;
	}
	
	.handle {
		z-index:1001;
	}
}

.autocomplete-holder {
	position:relative;
	width:100%;
}

#ui-id-1,
.ui-autocomplete.ui-menu.ui-widget {
	position:static !important;
	top:10px !important;
	padding:14px 0 10px;
	font-size:16px;
	line-height:19px;
	background: white;
	border:none;
	
	li {
		&:last-child {
			margin:0 0 10px;
		}
	}
}

#menu {
	float: right;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing:0.5px;
	
	ul {
		@include list;
		float: left;
	}
	
	li {
		float: left;
		padding-left: 24px;
	}
	
	a {
		padding: 8px 0;
		display: block;
		@include border(2px 0 0, transparent);
	}
	
	.active a {
		color: $dark;
		border-color: $green;
	}
}

.call-form {
	@extend %clearfix;
	font-size:11px;
	line-height:14px;
	color:#999;
	
	.input-holder {
		@extend %clearfix;
		position:relative;
		margin:0 0 30px;
		&.tel {
			input[type="text"] {
				padding-left:37px;
			}
		}
	}
	
	input[type="text"],
	input[type="email"] {
		@include placeholder {
			color:#999;
		}
		height:50px;
		color:#333;
		font-size:14px;
		line-height:17px;
		background-color: #f3f3f3;
		border-radius: 2px;
	}
	
	/* label {
		display:block;
		text-align:left;
		margin:-17px 0 3px;
		font-weight:400;
	} */
	
	.tel-placeholder {
		position:absolute;
		left:10px;
		top:15px;
		font-size:14px;
		line-height:20px;
		font-weight:400;
		color:#333;
	}
	
	.error {
		.tel-placeholder {
			color:#f00;
		}
	}
	
	input[type="submit"] {
		float:none;
		display:block;
		width:80%;
		height:50px;
		margin:0 auto;
		border-radius:25px;
	}
}