// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h1, .h1 {
  font-size: $h1-font-size - 14;
  line-height: $h1-font-size - 10;
  @include media("≥tablet"){
    font-size: $h1-font-size - 12;
    line-height: $h1-font-size - 12;
  }
  @include media("≥desktop"){
    font-size: $h1-font-size;
    line-height:$h1-font-size + 12;
  }
}

h2, .h2 {
  font-size: $h2-font-size - 6;
  line-height: $h2-font-size;
  @include media("≥tablet"){
    font-size: $h2-font-size - 6;
    line-height: $h2-font-size + 6;
  }
  @include media("≥desktop"){
    font-size: $h2-font-size;
    line-height: $h2-font-size + 6;
  }
}

h3, .h3 {
  font-size: $h3-font-size - 2;
  line-height: $h3-font-size + 4;
  font-family:$base-font-sans-serif;
  font-weight:300;
  @include media("≥tablet"){
    font-size:$h3-font-size - 5;
    line-height: $h3-font-size;
  }
  @include media("≥desktop"){
    font-size:$h3-font-size;
    line-height: $h3-font-size + 6;
  }
}

h4, .h4 {
  font-size: $h4-font-size - 6;
  line-height: $h4-font-size;
  @include media("≥tablet"){
    font-size: $h4-font-size - 2;
    line-height: $h4-font-size + 4;
  }
  @include media("≥desktop"){
    font-size: $h4-font-size;
    line-height: $h4-font-size + 6;
  }
}

h5, .h5 {
  font-size: $h5-font-size - 3;
  @include media("≥tablet"){
    font-size: $h5-font-size;
  }
}

h6, .h6 {
  font-size: $h6-font-size - 3;
  @include media("≥tablet"){
    font-size: $h6-font-size;
  }
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $abbey;
  }
}

.text-center {
  text-align:center;
}