// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  display:block;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius:3px;
  font-size:18px;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  box-shadow:none;
  padding:16px 25px 17px;
  outline:none;
  @include media("≥tablet"){
    font-size:16px;
    padding:15px;
  }
  @include media("≥desktop"){
    padding: $form-element-padding;
  }
  
  .no-touch & {
    transition:border $animation-speed ease;
  }

  &:focus {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  width:100%;
  height:55px;
  background:#fff;
  padding:0 10px;
  -webkit-appearance: none;
  border:1px solid $form-element-border-color;
  border-radius:3px;
}

textarea {
  resize: vertical;
  vertical-align: top;
  width:100% !important;
  min-height:150px;
  max-height:350px;
  @include media("≥tablet"){
    min-height:20px;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  display:inline-block;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  cursor: pointer;
  border-radius:3px;
  min-height:50px;
  min-width:137px;
  font-size:16px;
  font-weight:400;
  color:#fff;
  text-transform:uppercase;
  padding:0 26px;
  border:none;
  background:$green;
  &:hover {
    background:$green + 20;
  }
  @include media("≥414px"){
    min-width:180px;
  }
  @include media("≥tablet"){
    min-height:55px;
    min-width:180px;
  }
  @include media("≥desktop"){
    min-height:60px;
  }
}

input[type="file"] {
  width:100%;
  padding:0;
  color:$base-text-color;
  background:none !important;
}