$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import "vendors/include-media";

@import "base/icomoon";
@import "base/mixins";
@import "base/variables";
@import "base/helpers";
@import "base/form";
@import "vendors/loader";
@import "vendors/jcf";
//@import "vendors/jquery-ui.min";
@import "vendors/fancybox";

html {
  height:100%;
}

body {
  color: $base-text-color;
  background: $base-background-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

a {
  text-decoration:none;
  outline:none;
  color: $base-link-color;
  &:hover {
    color:$d-blue;
  }
}

// hide tel links on desktop
@media only screen and (min-width:1025px) {
    a[href^=tel],a[href^=skype], a[href^=sms] {
    cursor:default;
    pointer-events:none;
    text-decoration:none !important;
    color:#333;
  }
}

button,
a,
input[type="submit"],
input[type="reset"] {
  transition: color $animation-speed ease, background-color $animation-speed ease, border-color $animation-speed ease, opacity $animation-speed ease;
}

p {
  margin: 0 0 15px;
}

.container-area {
  padding-left:10px;
}

.container {
  width:1120px;
  padding:0 20px;
}

.btn,
button.btn,
input.btn {
  padding:0 10px;
  font-size:12px;
  color:$white;
  background:$blue;
  font-weight:500;
  box-shadow:none !important;
  border-radius:3px;
  border: 1px solid #005786;
  &:hover,
  &:focus {
    color:$white;
    background:$blue - 20;
  }
  
  &.btn-dark {
    background:$d-blue;
    &:hover {
      background:$d-blue + 20;
    }
  }
  
  &.btn-no-bg {
    background:none;
    &:hover {
      background:none;
    }
  }
  
  &.btn-gray {
    background:#999;
    border: 1px solid #8c8c8c;
    &:hover {
      background:#666;
    }
  }
  
  &.btn-small {
    min-width:140px;
  }
}

.hoverable {
  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
}

#wrapper {
  position:relative;
  width:100%;
  overflow:hidden;
  opacity:0;
  
  .pace-done & {
    opacity:1;
    transition:opacity $animation-speed ease;
  }
}

.message-area {
  position:fixed;
  left:0;
  right:0;
  top:0;
  padding:12px 15px;
  font-size: 12px;
  line-height:15px;
  color: #fefefe;
  background: #001525;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
  z-index:103;
  &.close {
    visibility:hidden;
    opacity:0;
    height:0;
  }
  
  > * {
    display:inline-block;
    vertical-align:middle;
    margin:0;
  }
  
  a.close {
    position:absolute;
    right:15px;
    top:50%;
    font-size:20px;
    transform:translateY(-50%);
    color: $white;
    &:hover {
      color:$red;
    }
  }
}

.nav-panel {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width: 299px;
  background: $white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.03);
  z-index:100;
  overflow:hidden;
  
  .top-box {
    @extend %clearfix;
    padding:80px 40px 36px;
  }
  
  .lang-box {
    float:right;
    width:46px;
    margin:13px 0 0;
    
    .select-dropdown {
      margin:0;
      padding-right:10px;
      color:#999;
      text-align:right;
      border:none;
      text-overflow:ellipsis;
    }
    
    .dropdown-content {
      width:80px;
      min-width:80px;
      padding:0;
      margin:50px 0 0;
      overflow:hidden;
      
      li {
        
        span {
          width:100%;
          text-overflow:ellipsis;
          white-space: nowrap;
          overflow:hidden;
        }
      }
    }
  }
  
  .menu-block-holder {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  .menu-block {
    height: calc(100% - 260px);
    overflow-y:auto;
    border-top:1px solid #ebebeb;
  }
  
  .by-box {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:24px 40px 10px;
    font-size:11px;
    line-height:13px;
    border-top:1px solid #ebebeb;
    
    a {
      color:#000;
      &:hover {
        color:#000 + 100;
      }
    }
    
    .company-link {
      @include link-color(#999);
    }
  }
  
  .nav {
    margin:0;
    padding:23px 15px 5px;
    list-style:none;
    & + .nav {
      border-top:1px solid #ebebeb;
    }
    
    li {
      margin:0 0 18px;
      &.active {
        > a {
          font-weight:700;
          
          i {
            color:$l-blue;
          }
        }
      }
    }
    
    a {
      display:block;
      padding:11px 3px;
      color:#333;
      &:hover {
        color:#000;
        
        i {
          color:$l-blue;
        }
      }
    }
    
    span {
      display:inline-block;
      text-align:center;
      vertical-align:middle;
      width:65px;
    }
    
    i {
      display:inline-block;
      vertical-align:middle;
      font-size:24px;
      margin:-3px 0 0;
      color:#ccc;
      transition:color $animation-speed linear;
      &.icon-collections_bookmark {
        margin:-4px 0 0;
      }
    }
    
    ul {
      margin:0;
      padding:29px 10px 0 68px;
      list-style:none;
      
      li {
        margin:0 0 23px;
      }
      
      a {
        display:inline-block;
        vertical-align:top;
        padding:0;
        &:hover {
          color:#999;
        }
      }
    }
  }
  
  .login-nav {
    border-left:2px solid $l-blue;
    padding-left:13px;
    
    .no-login & {
      display:none;
    }
  }
}

.attention {
  position:relative;
  &:after {
    content:'';
    position:absolute;
    right:-11px;
    top:4px;
    width:5px;
    height:5px;
    border-radius:100%;
    background:#f33;
    opacity:1;
    animation: fade-out 1s infinite;
  }
}

@keyframes fade-out{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fade-out{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fade-out{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.logo {
  float:left;
  width:128px;
  height:54px;
  
  a{
    display:block;
    height:100%;
  }
  
  img{
    display:block;
    width:100%;
  }
}

#main {
  overflow:hidden;
  min-height:100vh;
}

.blue-panel {
  @extend %clearfix;
  padding:80px 0 40px;
  background:$blue;
  
  .row {
    margin-bottom:0;
  }
  
  .btn {
    width:120px;
    border:none;
    text-transform:none;
  }
  
  .btn-no-bg {
    display:inline-block;
    vertical-align:middle;
    margin:-2px 19px 0 0;
    font-size:12px;
    color:#fff;
    &:hover {
      color:$d-blue;
    }
  }
  
  .login-box {
    position:relative;
    width:100%;
    padding:11px 3px 2px;
    text-align:right;
    .no-login & {
      display:none;
    }
    
    > div {
      display:inline-block;
      vertical-align:middle;
      text-align:center;
      &.active {
        .opener {
          i {
            color:#fff;
          }
        }
        .caret {
          &:after {
            opacity:1;
          }
        }
      }
      
      > * {
        display:inline-block;
        vertical-align:middle;
        margin:0 5px;
      }
    }
    
    .notifications-box {
      margin-left:11px;
    }
    
    .app-box {
      margin-left:16px;
    }
    
    .slide {
      position:absolute;
      top:100%;
      right:-25px;
      width: 240px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      overflow:hidden;
      z-index:2;
    }
    
    .opener {
      position:relative;
      color:#fff;
      &:hover {
        i {
          color:#fff;
        }
      }
      &.attention {
        &:after {
          top:-2px;
          right:-2px;
        }
      }
      &.caret {
        font-size: 12px;
        line-height: 16px;
        margin-top: -5px;
        padding-right: 20px;
        &:after {
          @include triangle(8px 7px,#fff,down);
          content:'';
          position:absolute;
          right:0;
          top:50%;
          opacity:.8;
          transform:translateY(-50%);
        }
      }
      
      i {
        font-size:25px;
        color:rgba(#fff,.8);
        transition:color $animation-speed ease;
        &.icon-apps {
          font-size:24px;
        }
      }
    }
    
    ul {
      margin:0;
      padding:10px 30px 0;
      list-style:none;
      text-align:left;
      width:100%;
      
      li {
        margin:0 0 10px;
      }
      
      a {
        color:#000;
        &:hover {
          color:#999;
        }
      }
    }
    
    .app-list {
      margin:0 -1px -1px;
      padding:0;
      list-style:none;
      font-size:10px;
      line-height:12px;
      text-align:center;
      letter-spacing:-4px;
      overflow:hidden;
      
      li {
        display:inline-block;
        vertical-align:top;
        width:33.33%;
        margin:0;
        letter-spacing:0;
        min-height:80px;
        border:1px solid #ebebeb;
        border-style:solid;
        border-width:0 0 0 1px;
        border-color:#ebebeb;
        &:nth-child(n+3) {
          border-top-width:1px;
        }
      }
      
      a {
        display:block;
        padding:15px 10px 10px;
        height:100%;
        color:#999;
        &:hover {
          color:#000;
        }
      }
      
      .img-holder {
        @include v-align(35px,middle,after);
        margin:0 0 10px;
      }
      
      img {
        vertical-align:top;
      }
      
      span {
        display:block;
      }
    }
  }
  
  .notifications {
    display:inline-block;
    vertical-align:middle;
  }
  
  .no-login-box {
    display:none;
    
    .no-login & {
      display:block;
    }
    
    .btn-dark {
    
      .registration-page & {
        background:$l-blue;
        cursor:default;
        pointer-events:none;
      }
    }
  }
}

.login-form {
  @extend %clearfix;
  padding:39px 40px 90px;
  margin:-1px 0 0;
  position:relative;
  min-height:290px;
  background:#f3f3f3;
  border-top:1px solid #e1e1e1;
  
  .btn {
    position:absolute;
    left:50%;
    bottom:40px;
    min-width:140px;
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    font-weight:500;
    transform:translateX(-50%);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding:15px 18px 15px;
    margin:0 0 10px;
    font-size:16px;
    line-height:19px;
    height:50px;
    color:$gray;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow:none !important;
    outline:none;
  }
  
  .input-field {
    .error-text {
      bottom:-10px;
    }
  }
}

.search-form {
  @extend %clearfix;
  position:relative;
  z-index:102;
  
  .sort-open-close.active + .search-holder,
  .sort-open-close.active + .sort-open-close + .search-holder {
    border-radius:0 3px 0 0;
  }
  
  .sort-open-close {
    float:left;
    &:after {
      content:'';
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      opacity:0;
      visibility:hidden;
      background:rgba(#000,.5);
      transition: visibility $animation-speed linear, opacity $animation-speed linear;
      z-index:101;
    }
    &.active {
      &:after {
        width:10000em;
        height:100000em;
        opacity:1;
        visibility:visible !important;
      }
      
      .sort-opener {
        color:#333;
        background:#f3f3f3;
        box-shadow:inset 0 2px 0 $l-blue !important;
        border:none;
        
        span {
          background-position:-32px 0;
        }
      }
    }
    &:first-child.active {
      .sort-opener {
        border-radius:3px 0 0 0 !important;
      }
    }
    &:first-child {
      
      .sort-opener {
        border-radius:3px 0 0 3px;
        border-right:1px solid #334451;
      }
    }
    
    .slide {
      display:block !important;
    }
  }
  
  .sort-opener {
    position:relative;
    min-width:86px;
    width:auto;
    height:50px;
    padding:1px 17px 0;
    font-size:12px;
    font-weight:700;
    font-family:$add-ff;
    text-transform:uppercase;
    border-radius:0;
    z-index:102;
    
    > span {
      display:inline-block;
      vertical-align:middle;
      margin-top:-3px;
      width:20px;
      height:20px;
      background:url(../images/sprite.png) no-repeat;
    }
  }
  
  .slide {
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    padding:10px 0 15px;
    background: #f3f3f3;
    border-radius:0 0 3px 3px;
    z-index:103;
    
    .btn-box {
      padding:15px 40px;
    }
    
    .btn {
      position:static;
      min-width: 190px;
      font-size:12px;
      line-height:49px;
      font-weight:500;
      border: 1px solid #005786;
      text-transform:uppercase;
    }
  }
  
  .search-holder {
    position:relative;
    border-style:solid;
    border-width:1px 1px 1px 0;
    border-color:rgba(#fff,.2);
    border-radius:0 3px 3px 0;
    overflow:hidden;
    z-index:102;
    
    &.child-input-focused {
      background:#fff;
      border-color:#fff;
      transition:all $animation-speed ease;
      
      button {
        color:$blue;
      }
    }
    
    .main-page & {
      border-color:#fff;
    }
  }
  
  input[type="text"] {
    @include placeholder {
      color: #66a8cc;
    }
    display:block;
    width:100%;
    height:48px;
    margin:0;
    padding:5px 48px 5px 22px;
    font-size:14px;
    line-height:17px;
    color: #66a8cc;
    background:none;
    border:none !important;
    box-shadow:none !important;
    border-radius:0;
    overflow:hidden;
    
    .main-page & {
      @include placeholder {
        color: #999;
      }
      background:#fff;
      color:#999;
    }
  }
  
  button {
    position:absolute;
    right:13px;
    top:0;
    bottom:0;
    padding:5px 0 0;
    min-height:0;
    font-size:25px;
    border:none;
    color: rgba(#fff,.2);
    background:none !important;
    z-index:2;
    &:hover {
      color:$d-blue !important;
    }
    .main-page & {
      color:#ccc;
      &:hover {
        color:$blue !important;
      }
    }
  }
}

.jcf-scrollable {
  width:100% !important;
  height:433px;
  overflow:auto;
  
  > .collapsible-box {
    margin:-9px 39px 0 30px;
    border-bottom:1px solid #dddedf;
    
    > li:first-child{
      border:none;
    }
    > li {
      > .collapsible-body:before {
        left:8px;
      }
    }
  }
}

.collapsible-box {
  margin:0;
  padding:0;
  background:#f3f3f3;
  border:none;
  box-shadow:none;
  
  li {
    position:relative;
    background:#f3f3f3;
    &:after{
      content:'';
      position:absolute;
      left:-3px;
      top:0;
      width:100%;
      height:1px;
      background:#dddedf;
    }
    &.active {
      > .collapsible-header {
        > .button-collapse {
          &:before {
            content: "\e909";
          }
        }
      }
    }
    
    li {
       &:after{
        left:21px;
       }
    }
  }
  
  .button-collapse {
    content:'';
    position:absolute;
    left:0;
    top:0;
    overflow:visible !important;
    &:before {
      @extend %ico;
      content: "\e146";
      position:absolute;
      left:-5px;
      top:11px;
      color:#999;
      font-size:27px;
      z-index:2;
    }
    &:after {
      content:'';
      position:absolute;
      left:-2px;
      top:15px;
      width:20px;
      height:20px;
      background:#fff;
      overflow:hidden;
      z-index:1;
    }
  }
  
  .collapsible-box {
    padding:0 0 0 8px;
    overflow:hidden;
    list-style: none;
    
    li {
      padding:0 0 0 22px;
      position:relative;
    }
  }
  
  .collapsible-box > li:not(:only-child),
  .collapsible-box li li {
    position: relative;
  }
  
 .collapsible-box li:not(:last-child) {
    border-left: 1px solid #ccc;
  }

  .collapsible-box li li:before,
  .collapsible-box > li:not(:only-child):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.1em;
    height: 1.86em;
    border-bottom: 1px solid #ccc;
  }
 
  .collapsible-box li:last-child:before { 
    width: calc(1.7em - 1px);
    border-left: 1px solid #ccc;
  }
  
  .collapsible-header {
    position:relative;
    padding:13px 8px 13px 30px;
    line-height:23px;
    min-height:0;
    background:none;
    border:none !important;
    &.alt {
      padding-left:0;
      
      .button-collapse {
        &:after,
        &:before {
          display:none;
        }
      }
    }
    
    span {
      display:block;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
    }
    
    strong {
      font-weight:500;
    }
  }
  
  label {
    float:left;
    width:20px !important;
    padding-left:20px;
    box-sizing: border-box;
  }
  
  .collapsible-body {
    border:none !important;
    &:before{
      content: "";
      position: absolute;
      top: 36px;
      left: 30px;
      width: 1px;
      height: 13px;
      background:#ccc;
    }
  }
  
  .jcf-scrollbar-vertical {
    right:15px;
  }
}

[id="content"] {
  padding:20px 0 30px;
  
  &.content {
    padding-top:40px;
  }
  
  .container {
    position:relative;
  }
  
  h1 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 300;
    color: $l-blue;
    margin:0 0 33px -1px;
    
    .separator {
      color:#999;
    }
    
    .mark {
      color:$blue;
    }
  }
  
  .btn-add {
    position:absolute;
    right:0;
    top:-50px;
    width: 60px;
    height: 60px;
    font-size:22px;
    line-height:63px;
    text-align:center;
    color:#fff;
    background: $red;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius:100%;
    overflow:hidden;
    &:hover {
      background:$red + 20;
    }
  }
}

.select-wrapper {
  
  span.caret {
    top:50%;
    color:#3385ad;
    transform:translateY(-50%);
  }
}

.sort-from {
  @extend %clearfix;
  padding:20px 0 10px;
  text-align:right;
  
  .chip-block {
    @extend %clearfix;
    margin:-4px 0 14px;
    
    .chip {
      display:inline-block;
      vertical-align:middle;
      height:30px;
      margin:0 2px 10px 0;
      padding:0 16px;
      font-size:12px;
      line-height:30px;
      font-weight:400;
      color:#666;
      
      .chip-holder {
        float:left;
        white-space:nowrap;
        max-width:446px;
        text-overflow:ellipsis;
        overflow:hidden;
      }
      
      
      .mark {
        color:$gray;
      }
      
      i {
        padding:0;
        font-size:23px;
        margin:-1px -12px 0 12px;
        color:#b7b7b7;
        &:hover {
          opacity:.8;
        }
      }
    }
  }
  
  .form-holder {
    @extend %clearfix;
    margin-right:-1px;
  }
  
  .holder {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin-left:33px;
    
    .select-holder {
      max-width:250px;
    }
  }
  
  .state.holder,
  .date.holder {
     > * {
      display:inline-block;
      vertical-align:middle;
     }
  }
  
  .state.holder {
    &.change {
      button[type="reset"] {
        display:inline-block;
      }
    }
    
    button[type="reset"] {
      display:none;
      position:relative;
      width:26px;
      height:22px;
      margin:0 -8px 0 0;
      min-height:0;
      font-size:19px;
      color:$red;
      background:none !important;
      border:none;
    }
  }
  
  .date.holder {
    i {
      display:inline-block;
      vertical-align:middle;
      font-size: 24px;
      margin: 0 -6px 0 0;
      color:$l-blue;
    }
  }
}

.item {
  position:relative;
  background:#fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin:0 0 30px;
  
  .row {
    margin-bottom:0;
  }
  
  a.marked-link {
    font-size: 24px;
    left: 24px;
    position: absolute;
    top: -8px;
    color:#ccc;
    z-index:100;
    &.red-link {
      color:$red;
      //text-shadow:0 0 1px #da2929;
    }
  }
  
  .text-holder {
    @extend %clearfix;
    position:relative;
    padding:26px 32px 26px 33px;
    &.text-box {
      padding:26px 20px 60px 29px;
    }
  }
  
  h1 {
    font-size: 18px;
    line-height:21px;
    font-weight: 500;
    color: $blue;
    margin:0 0 17px;
    
    &.title {
      font-size:30px;
      line-height:33px;
      font-weight:500;
      color: #001525;
    }
    
    a {
      @include link-color($blue);
    }
  }
  
  .dot-box {
    max-height:34px;
    line-height:17px;
    overflow:hidden;
  }
  
  p {
    margin:0 0 15px;
  }
  
  a.detail-link {
    position:absolute;
    left:28px;
    max-width:90%;
    bottom:26px;
    font:400 12px/15px $add-ff;
    color:#999;
    &:hover {
      color:#000;
    }
  }
  
  .price-box {
    position:relative;
    color: #999;
    font:400 12px/15px $add-ff;
    margin:0 0 17px;
    
    .price {
      padding:0 30px 0 0;
      margin:0 0 4px;
      font:500 18px/21px $base-font-family;
      color:#000;
    }
    
    .mark {
      color:#000;
    }
  }
  
  .progress {
    margin:0 2px 13px;
  }
  
  .deadline-box {
    font-size:12px;
    line-height:15px;
    color:#333;
    
    .blue-text {
      margin:0 0 5px;
    }
    
    time {
      display:block;
    }
  }
  
  .item-menu {
    position:absolute;
    right:-13px;
    top:-7px;
    color:#ccc;
    &.active {
      a {
        color:$blue;
      }
    }
    
    .opener {
      display:inline-block;
      vertical-align:top;
      padding:5px 0;
      color:#ccc;
      &:hover {
        color:$blue;
      }
    }
    
    i {
      font-size:24px;
    }
    
    .slide {
      position:absolute;
      right:0;
      top:100%;
      width:200px;
      padding:15px 20px 3px;
      background:#fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      z-index:100;
      
      ul {
        @extend %listreset;
        position:relative;
        
        li {
          margin:0 0 15px;
          white-space:nowrap;
          text-overflow:ellipsis;
          overflow:hidden;
        }
        
        a {
          display:inline-block;
          vertical-align:top;
          padding:2px;
          color:#ccc;
          &:hover {
            color:#000;
          }
          
          > * {
            display:inline-block;
            vertical-align:middle;
          }
          
          i {
            margin-right:10px;
          }
          
          span {
            color:#666;
          }
        }
      }
    }
  }
}

.alt.item {
  color:#666;
  
  .marked-link {
    top:-6px;
    left:35px;
  }
  
  > .holder {
    @extend %clearfix;
    position:relative;
    padding:29px 39px;
    &+.holder {
      border-top:1px solid #e1e1e1;
    }
  }
  
  >.about-company-block {
    padding-bottom:0;
    overflow:hidden;
  }
  
  h1 {
    margin:0 0 23px;
    padding-right:10px;
  }
  
  .text {
    margin:0 0 17px;
    line-height:20px;
    overflow:hidden;
  }
  
  .item-menu {
    right:30px;
    top:29px;
    
    i {
      font-size:24px;
    }
  }
  
  dl {
    color:#333;
  }
  
  dl.alt-list {
    
    dt {
      margin:0 0 6px;
    }
    
    dd {
      margin:0 0 23px;
      &:last-child {
        margin:0;
      }
    }
  }
  
  .classification {
    font-size:14px;
    line-height:17px;
  }
}


.file-item.item {
  color:#999;
  font-size:12px;
  line-height:17px;
  margin:0 0 70px;
  
  .holder {
    padding:20px 18px 19px;
    
    > * {
      display:inline-block;
      vertical-align:middle;
    }
    
    > a {
      display:block;
      margin-right:5px;
      
      .name {
        
        > span {
          color:#069;
        }
      }
      
      > * {
        display:inline-block;
        vertical-align:middle;
      }
    }
    
    .name {
      position:relative;
      width:49%;
      padding:0 10px 0 42px;
      font-size:14px;
      line-height:17px;
      &.alt {
        width:49%;
        padding:0;
        color:$base-text-color;
        
        label {
          vertical-align:middle;
          padding-left:26px;
        }
      }
      
      i {
        position:absolute;
        left:0;
        top:50%;
        color:#ccc;
        font-size:25px;
        transform:translateY(-50%);
      }
      
      a {
        display:inline-block;
        white-space:nowrap;
        text-overflow:ellipsis;
        @include link-color(#006eaa);
        overflow:hidden;
        vertical-align: middle;
      }
    }
    
    .item-menu {
      right: 18px;
      top: 12px;
      
      .slide {
        
        ul {
          a {
            &:hover {
              
              span {
                color:#000;
              }
            }
          }
        }
      }
    }
    
    .size {
      width:15%;
      text-align:center;
      padding-top: 2px;
    }
    
    time {
      padding-right:14px;
      width:34%;
      text-align:center;
      padding-top: 2px;
    }
  }
  
  .rejected {
    
    .item-menu {
      display:none;
    }
    
    .status {
      color:$red;
    }
  }
  
  .awaiting-solution {
    
    .status {
      color: #6cf;
    }
  }
  
  .awaiting-review {
    
    .status {
      color:#999;
    }
  }
  
  .btn-add-person {
    float:right;
    display:inline-block;
    font-size:23px;
  }
  
  .person-name {
    display:inline-block;
    vertical-align:middle;
  }
  
  .tel {
    width:30%;
    font-size:14px;
    color:$base-text-color;
    text-align:center;
  }
  
  .status {
    margin:0 0 5px;
    font-size:11px;
    line-height:14px;
  }
  
  .price {
    display:inline-block;
    vertical-align:middle;
    width:40%;
    margin:4px 0 0;
    font-size:14px;
    line-height:27px;
    color:$base-text-color;
    
    .num {
      font-size:24px;
      line-height:27px;
      font-weight:500;
    }
  }
}

.file-item-2.item {
  
  .holder {
    padding:20px 18px 20px 6px;
  }
}

.file-item-3.item {
  
  .holder {
    padding:17px 20px 20px;
  }
}

.file-item-alt.item {
  margin:0 0 40px;
}

.file-item-4.item {
  
  .holder {
    padding:0;
    
    > a {
      padding:21px 29px 19px;
    }
    
    .name.alt {
      width:58%;
    }
  }
}

.item-auction.item {
  
  .holder {
    
    .name {
      
      a {
        @include link-color(#069);
      }
    }
    
    .item-menu {
      top:23px;
    }
  }
}

.auction-btn-box {
  margin:0 0 50px;
  
  .btn {
    min-width:160px;
  }
  
  .btn-right {
    float:right;
  }
}

.twocol {
  position:relative;
}

.heading-container {
  
  .row {
    margin-bottom:0;
  }
}

.pushpin-col {
  width:220px;
  transition:margin-top $animation-speed linear;
  &.pinned {
    margin-top:61px;
  }
  
  .btn {
    width:220px;
    margin:0 0 37px;
  }
}

.step-list {
  @extend %listreset;
  color:#999;
  font-size:11px;
  line-height:14px;
  
  li {
    @extend %clearfix;
    position:relative;
    margin: 0 0 4px;
    padding: 0 0 16px;
    &:after {
      content:'';
      position:absolute;
      left:15px;
      top:2px;
      width:2px;
      height:100%;
      background:#ccc;
      z-index:1;
    }
    &:last-child {
      &:after {
        display:none;
      }
    }
    &.out {
      &:after {
        background:$l-blue;
      }
      .counter {
        background:$l-blue;
        
        i {
          display:inline-block;
          vertical-align:middle;
        }
        
        span {
          display:none;
        }
      }
    }
    &.active {
      color:$l-blue;
      &:after {
        background:$red;
      }
      
      .counter {
        background:$red;
      }
    }
  }
  
  .counter {
    position:relative;
    float:left;
    width:32px;
    height:32px;
    margin:2px 12px 0 0;
    font:14px/30px $add-ff;
    text-align:center;
    color:#fff;
    background:#ccc;
    border-radius:100%;
    overflow:hidden;
    z-index:2;
    
    i {
      display:none;
      font-size:20px;
      line-height:32px;
    }
    
    span {
      display:inline-block;
      vertical-align:middle;
    }
  }
  
  time {
    display:block;
    margin:2px 0 0;
    font-size:16px;
    line-height:19px;
    letter-spacing:0.3px;
    color:#333;
  }
}

.auction-menu {
  margin:0 0 37px;
  padding:29px 25px 34px;
  list-style:none;
  font-size:14px;
  line-height:17px;
  border-radius:1px;
  
  li {
    margin:0 0 27px;
    &:last-child {
      margin:0;
    }
    
    &.active {
      
      .icon-box {
        color: #6cf;
      }
    }
  }
  
  a {
    color:#333;
    &:hover {
      
      .icon-box {
        color: #6cf;
      }
    }
    
    > * {
      display:inline-block;
      vertical-align:middle;
      &:nth-child(2) {
        width:calc(100% - 55px);
      }
    }
  }
  
  .icon-box {
    width:48px;
    text-align:center;
    color:#ccc;
    transition:color $animation-speed ease;
  }
  
  i {
    font-size:24px;
  }
}

.about-company-block {
  
  & + .about-company-block {
    border-top:1px solid #ebebeb;
  }
  
  img {
    display:block;
    max-width:100%;
    margin:-1px 0 17px;
  }
}

dl {
  font-size:16px;
  line-height:19px;
  margin:0 0 17px;
  color:#333;
  overflow:hidden;
  
  dt {
    display:block;
    font-size: 11px;
    line-height:14px;
    color: $l-blue;
    margin:0 0 2px;
  }
  
  dd {
    margin:0 0 20px;
  }
  
  .address {
    margin:4px 0 0;
    font-size:14px;
    line-height:17px;
  }
  
  .num {
    font-size:24px;
    font-weight:500;
  }
  
  a {
    text-decoration:underline;
    &:hover {
      text-decoration:none;
    }
  }
}

.classification {
  .box {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin:0 0 7px;
    &:last-child {
      margin:0;
    }
  }
}

.progress {
  background:#e5e5e5;
  height:2px;
}

.blue-text {
  color: $l-blue !important;
}

.form {
  @extend %clearfix;
  padding: 20px 0 40px;
  font-size:16px;
  line-height:19px;
  font-weight:400;
  
  .input-holder {
    @extend %clearfix;
    margin:0 0 30px;
    .jcf-scrollable-wrapper {
      position: absolute !important;
      top: -9999px;
      left: -9999px;
      width: 100% !important;
      z-index: 100;
      border-radius:3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
      &.open {
        top: calc(100% + 10px);
        left: 0;
      }
    }
    .autocomplete {
      height: 249px;
    }
    .ui-autocomplete {
      position: static !important;
    }
  }
  
  .select-holder {
    float:right;
    width:54px;
    &.alt {
      float:none;
      width:100%;
    }
  }
  
  .btn-box {
    @extend %clearfix;
    margin:50px 0 0;
  }
  
  .btn {
    min-width:191px;
  }
  
  .address {
    position:relative;
    
    input:disabled {
      @include placeholder {
        color:#999;
      }
      background:none;
      color:#333;
      border-color:#ccc;
    }
  }
  
  .add-address {
    content:'';
    position:absolute;
    right:15px;
    top:50%;
    font-size:24px;
    color: $blue;
    transform:translateY(-50%);
    z-index:1;
    &:hover {
      color:$l-blue;
    }
  }
  
  .classifier {
    position:relative;
  }
  
  .picker-holder {
    position:relative;
    overflow:hidden;
    &:after {
      content: "\e24f";
      @extend %ico;
      position:absolute;
      right:14px;
      top:50%;
      font-size:23px;
      color:$blue;
      transform:translateY(-50%);
      z-index:1;
      pointer-events: none;
    }
  }
  
  .picker {
    padding-right:15px;
    background:none;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

// Datapiker styles
.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}
.ui-widget-content a {
  color: #333;
}
.ui-widget-header {
  color: #000;
  font-size:14px;
  line-height:17px;
}
.ui-widget-header a {
  color: #006eaa;
}
.ui-datepicker {
  width: 320px;
  padding: 29px 30px;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  margin:0 0 17px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  font-size:0;
  line-height:0;
  cursor:pointer;
  &:before {
    @extend %ico;
    position:absolute;
    left:50%;
    top:50%;
    font-size:25px;
    color:$blue;
    z-index:10;
    transform:translate(-50%, -50%);
    transition:all $animation-speed ease;
  }
}
.ui-datepicker .ui-datepicker-prev {
  left: 0;
  &:before {
    content:'\e408';
  }
}
.ui-datepicker .ui-datepicker-next {
  right: 0;
  &:before {
    content:'\e409';
  }
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  &:before {
    color:$l-blue;
  }
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 30px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker {
  
  table {
    width: 100%;
    font-size:14px;
    line-height:18px;
    border-collapse: collapse;
    margin: 0 0 .4em;
  }
  
  thead {
    border-bottom:1px solid #efefef;
  }
  
  th {
    padding: .7em .3em;
    text-align: center;
    border: 0;
    font-size: 12px;
    line-height:14px;
    font-weight: 400;
    text-transform:lowercase;
    color: #999;
    &.ui-datepicker-week-end {
      color:$red;
    }
  }
  
  tbody {
    
    tr {
      &:first-child {
        border-top:19px solid transparent;
      }
    }
  }
}
.ui-datepicker td {
  border: 0;
  padding: 0;
  height:43px;
  text-align:center;
  &.ui-datepicker-current-day {
    a {
      background:$l-blue;
      color: #fff !important;
    }
  }
}
.ui-datepicker td span {
  color:#999;
}
.ui-datepicker td a {
  width:30px;
  height:30px;
  display:inline-block;
  vertical-align:middle;
  padding: 6px 2px 2px;
  text-decoration: none;
  border-radius:100%;
  &:hover {
    background:$l-blue;
    color:#fff;
  }
}
.ui-datepicker .ui-datepicker-buttonpane {
  margin:10px 0 0;
  border:none;
  overflow:hidden;
  display: none;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  @extend .btn;
  min-width:100px;
  float: right;
  margin: .5em .2em 3px;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-timepicker-div dl {
  margin:0;
  
  dt {
    height:20px;
    line-height:20px;
    font-size:14px;
    line-height:26px;
    color:$blue;
    &.ui_tpicker_time_label {padding-top: 3px;}
  }
  
  dd {
    margin-bottom:11px;
  }
}
input.ui_tpicker_time_input {
  height:20px;
  font-size:13px;
  line-height:16px;
  padding:5px;
  margin:0;
}
.ui_tpicker_hour_slider,
.ui_tpicker_minute_slider {
  position:relative;
  height:3px;
  background:$blue;
  border:none;
  margin:24px 0 0;
  
  .ui-slider-handle {
    display:block;
    position:absolute;
    top:-7px;
    width:16px;
    height:16px;
    background:$l-blue;
    margin-left:-8px;
    border-radius:100%;
    outline:none;
    cursor: pointer;
  }
}

.ui-menu.ui-autocomplete {
  width:100% !important;
  font-size:16px;
  line-height:19px;
  color:#333;
  background:#fff;
  border:none;
  z-index:999;
  margin: 0;
  box-sizing:border-box;
  li {
    position:relative;
    cursor:pointer;
    padding:15px 25px 15px 18px;
    border-top:1px solid #ccc;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    &:first-child {
      border:none;
    }
    &:after {
      @extend %ico;
      content:'\e5ca';
      display:none;
      position:absolute;
      right:5px;
      top:50%;
      font-size:25px;
      color:$l-blue;
      transform:translateY(-50%);
      z-index:2;
    }
    &:hover {
      &:after {
        display:block;
      }
    }
  }
}

.pinned-btn {
  margin-bottom: 40px;
  min-width: 240px;
  text-align: center;
}

.alt.form {
  
  .input-field {
    
    .error-text {
      @include v-align;
      bottom:auto;
      top:0;
      height:100%;
      left:100%;
      margin-left:19px;
      width:260px;
      padding:0 21px;
      color:#fff;
      font-size:14px;
      line-height:17px;
      border-radius:3px;
      text-align:left;
      background:#f33;
      &:before {
        @include triangle(20px 10px,#f33,left);
        content:'';
        position:absolute;
        left:-10px;
        top:50%;
        transform:translateY(-50%);
      }
    }
  }
  
  .custom {
    .error-text {
      margin-left:159px;
    }
  }
}

.new-auction-form {
  
  .switch {
    @extend %clearfix;
    padding:15px 4px;
    
    label {
      position:relative;
      top:auto;
      left:auto;
      font-size:14px !important;
      color:#333 !important;
      
      input[type="checkbox"]:checked + .lever:after {
        background:$blue;
        left:19px;
      }
      input[type="checkbox"]:checked + .lever {
        background:$l-blue;
      }
      
      .lever {
        width:30px;
        &:after {
          box-shadow:none;
          background:#666;
        }
      }
      
      span {
        overflow:visible;
      }
    }
  }
  
  .classifier-holder {
    margin:0 0 30px;
    
    > div {
      &:first-child {
        
        input[type="text"] {
          border-radius:3px 3px 0 0;
          border-bottom:none;
          &:focus {
            position:relative;
            z-index:1;
            border-bottom-width:1px !important;
          }
        }
      }
      &:nth-child(n+2) {
        
        input[type="text"] {
          border-radius:0;
          margin-top:-1px;
          &:focus {
            position:relative;
            z-index:1;
            border-top-width:1px !important;
          }
        }
      }
    }
    
    .input-field {
      margin:0;
    }
  }
  
  .input-field {
    @extend %clearfix;
    & ~ .input-field .active {display: none !important;}
  }
  
  .input-col {
    float:left;
    width:38.5%;
    &:nth-child(2) {
      width:34.5%;
    }
    &:nth-child(3) {
      width:27%;
    }
    
    .input-field {
      margin:0;
    }
    
    .jcf-select {
      width:46%;
      margin-top:2px;
    }
  }
  
  .classifier {
    
    .input-field {
      input[type="text"] {
        @include placeholder {
          color:#999 !important;
        }
        border-radius:0 0 3px 3px;
        border-width:1px !important;
      }
    }
    
    .add-address {
      margin-top:-1px;
    }
  }
  
  .item {
    margin:0 0 40px;
  }
  
  .btn-box {
    margin:0;
  }
  
  .label {
    margin:15px 0 0;
    width:54%;
  }
  
  .load-text {
    padding:0 18px;
    font-size:14px;
    color:#333;
    overflow:hidden;
  }
}

.classifier-form {
  position:relative;
  margin:15px 0 0;
  padding:0 15px 30px;
  background:#f3f3f3;
  .jcf-scrollable-wrapper {
    width: 100% !important;
  }
  
  .jcf-scrollable {
    height:441px;
    
    > .collapsible-box {
      margin:-1px 0 0;
      padding:0 10px;
    }
  }
  
  .jcf-scrollbar-vertical {
    right:0;
  }
  
  .btn-box {
    margin:30px 0 0;
  }
}

.add-user-form {
  margin:15px 0 0;
  
  .item {
    margin:0;
    background:#f3f3f3;
  }
}

/* lightbox styles */
.modal-holder {
  position: relative;
  overflow: hidden;
  height: 0;
}

div.lightbox {
  width: 520px;
  
  .modal-content {
    padding:0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
    overflow:hidden;
    
    > .holder {
      padding:37px 25px 0;
      background:#fff;
      overflow:hidden;
    }
    > .alt {
      padding:30px 38px 0;
    }
  }
  
  .title {
    font-size: 24px;
    line-height: 27px;
    font-weight: 300;
    color:$l-blue;
    letter-spacing:0.5px;
    margin:0 0 13px;
    &.alt {
      margin-bottom:36px;
    }
  }
  
  .tabs-holder {
    width:100%;
    position:relative;
    padding:0 20%;
  }
  
  .tabs {
    text-align:center;
    font-size:12px;
    line-height:15px;
    font-weight:600;
    height:43px;
    
    .tab {
      float:none;
      flex-frow:0;
      display:inline-block;
      vertical-align:middle;
      width:auto;
      min-width:113px;
      height:43px;
      line-height:43px;
      
      a {
        color:#666;
        &:hover,
        &.active {
          color:#000;
        }
      }
    }
    
    .indicator {
      background:$l-blue;
      z-index:10;
    }
  }
}

.modal-form {
  min-height:451px;
}

.modal-form-alt {
  
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='search'],
  input[type='password'],
  //input[type='url'],
  // input[type='date'],
  textarea {
    font-size:14px;
    background:#f3f3f3;
    &:focus {
      background:#fff;
    }
  }
  
  textarea,
  .jcf-select {
    margin:0 0 10px;
  }
  
  .input-field {
    margin:0 0 30px;
    
    label {
      font-size:14px !important;
    }
  }
  
  .file-field {
    width:100%;
    
    div.btn {
      right:15px;
      top:50%;
      left:auto;
      min-width:0;
      bottom:auto;
      height:auto;
      padding:0;
      margin:0;
      font-size:23px;
      line-height:1;
      color:$blue;
      background:none;
      border:none;
      transform:translateY(-50%);
      
      i {
        font-size:inherit;
      }
    }
    
    input[type="file"] {
      min-height:0;
    }
    
    .file-path-wrapper {
      padding:0;
      border-radius:3px;
      border:1px solid #e1e1e1;
      background:#f3f3f3;
      overflow:hidden;
      
      .file-path {
        @include placeholder {
          color:#999;
        }
        color:#999;
        padding: 10px 18px;
        margin:0;
        font-size:14px;
        line-height:17px;
        background:none;
        white-space:nowrap;
        text-overflow:ellipsis;
        border:none !important;
      }
    }
  }
  
  .btn {
    min-width:220px;
  }
  
  .file-item.item {
    margin:0 0 30px;
  }
}

.form-company {
  padding-top:28px;
  padding-bottom:50px;
  
  .btn {
    min-width:200px;
    position:static;
    transform:none;
  }
  .btn-gray {
    min-width:220px;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}