@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700&subset=latin,cyrillic);
@font-face {
    font-family: 'sf_ui__text';
    src: url('../fonts/sfuitext-light-webfont.eot');
    src: url('../fonts/sfuitext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-light-webfont.woff2') format('woff2'),
         url('../fonts/sfuitext-light-webfont.woff') format('woff'),
         url('../fonts/sfuitext-light-webfont.ttf') format('truetype'),
         url('../fonts/sfuitext-light-webfont.svg#sf_ui__textlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'sf_ui__text';
    src: url('../fonts/sfuitext-regularg2.eot');
    src: url('../fonts/sfuitext-regularg2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-regularg2.woff2') format('woff2'),
         url('../fonts/sfuitext-regularg2.woff') format('woff'),
         url('../fonts/sfuitext-regularg2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_ui__text';
    src: url('../fonts/sfuitext-medium-webfont.eot');
    src: url('../fonts/sfuitext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-medium-webfont.woff2') format('woff2'),
         url('../fonts/sfuitext-medium-webfont.woff') format('woff'),
         url('../fonts/sfuitext-medium-webfont.ttf') format('truetype'),
         url('../fonts/sfuitext-medium-webfont.svg#sf_ui__textmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'sf_ui__text';
    src: url('../fonts/sfuitext-bold.eot');
    src: url('../fonts/sfuitext-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-bold.woff2') format('woff2'),
         url('../fonts/sfuitext-bold.woff') format('woff'),
         url('../fonts/sfuitext-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'sf_ui__textbold_g3';
    src: url('../fonts/sfuitext-boldg3-webfont.eot');
    src: url('../fonts/sfuitext-boldg3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-boldg3-webfont.woff2') format('woff2'),
         url('../fonts/sfuitext-boldg3-webfont.woff') format('woff'),
         url('../fonts/sfuitext-boldg3-webfont.ttf') format('truetype'),
         url('../fonts/sfuitext-boldg3-webfont.svg#sf_ui__textbold_g3') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'sf_ui__text';
    src: url('../fonts/sfuitext-heavy.eot');
    src: url('../fonts/sfuitext-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuitext-heavy.woff2') format('woff2'),
         url('../fonts/sfuitext-heavy.woff') format('woff'),
         url('../fonts/sfuitext-heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}