html {
	box-sizing: border-box;
  height:100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
  color: $base-text-color;
  background: $base-background-color;
  font: 400 16px/19px $base-font-family;
  min-width: $base-min-width;
  height:100%;
  width:100%;
  display: table;
  table-layout: fixed;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media("≥tablet"){
    font-size:$font-size-base;
    line-height:$line-height-base;
  }
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

button,
a,
span.btn-more,
input[type="submit"],
input[type="reset"] {
  outline:none;
  transition: color $animation-speed ease,
              background-color $animation-speed ease,
              border-color $animation-speed ease,
              opacity $animation-speed ease;
}

// google map fix
.gm-style img {max-width: none}
