// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: 600;
  margin: 0 0 0.5em;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size - 38px;
  line-height:$h1-font-size - 20px;
  @include media("另ablet"){
    font-size: $h1-font-size - 30px;
    line-height:$h1-font-size - 5px;
  }
  @include media("卡esktop"){
    font-size: $h1-font-size;
    line-height:$h1-font-size + 5px;
  }
}

h2, .h2 {
  font-size: $h2-font-size - 3px;
  line-height:$h2-font-size + 6;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:-0.5px;
  @include media("另ablet"){
    font-size: $h2-font-size - 4px;
    line-height:$h2-font-size + 11px;
    letter-spacing:0;
  }
  @include media("卡esktop"){
    font-size: $h2-font-size;
    letter-spacing:-0.5px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $base-link-color - 20;
  }
}